<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
		<!-- bootstrap -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="main.css">
		<style>
			* {
				font-family: 'Roboto';
			}
			.card{
				height: 200px;
			}
			.field{
				max-width: 700px;
			}
		</style>
		<title>
			Restaurant Manager
		</title>
	</head>
	<body class="container mt-5">
		<h1>Restaurant Manager</h1>
		<hr>
		<div id="app">
			<h3>Table Overview</h3>
			<x-resturant :tables="tables" ref="resturant"></x-resturant>
			<div class="text-right">
				<p><
					x-resturant
				></p>
			</div>
			<br>
			<h3>New Party</h3>
			<p>Fill the following form to allocate a table to a party that is waiting to be seated.</p>
			<form v-on:submit.prevent="submitForm">
				<div class="form-group">
					<label for="people">Number of people*:</label>
					<input id="people" type="number" name="people" class="form-control field" v-model="party.people" placeholder="Number of People (non-zero positive integer)" min="1" required>
				</div>
				<div class="form-group">
					<label for="duration">Duration to stay*:</label>
					<input id="duration" type="number" name="duration" class="form-control field" v-model="party.duration" placeholder="Duration of stay in seconds (positive number)" min="1" required>
				</div>
				<div class="form-group">
					<label for="message">Fuss message*:</label>
					<input id="message" type="text" name="message" class="form-control field" v-model="party.message" placeholder="Fuss message if evicted (text)" required>
				</div>
				<p></p>
				<input type="submit" name="button" class="btn btn-dark" value="Add">
			</form>
		</div>

		<template id="xr">
			<div class="jumbotron text-center">
				<div class="row">
					<div v-for="table in tables" class="card col-md-3">
						<x-table :capacity="table.capacity" :key="table.name" :name="table.name" :ref="table.name"></x-table>
					</div>
				</div>
				<br>
				<div class="text-right">
					<p><
						x-table
					></p>
				</div>
			</div>
		</template>

		<template id="xt">
			<div class="">
				<div class="card-header">
					<h5>{{ name }}</h5>
				</div>
				<div class="card-body">
					<div v-if="available">
						Table Available
						<br>
						(capacity = {{ capacity }})
					</div>
					<div v-else>
						Occupied by {{ people }}
						<br>
						(free in {{ TimeOut(duration) }})
						<hr>
						<button type="button" class="btn btn-dark" name="button" @click="Evict()">Evict</button>
					</div>
				</div>
			</div>
		</template>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			Vue.component('x-table', {
				template: '#xt',
				props: ['name', 'capacity'],
				data() {
					return {
						available: true,
						people: '',
						duration: '',
						message: '',
						tableData: '',
					}
				},
				methods: {
					TimeOut(secs){
						// Show time in min and seconds
						var minutes = Math.floor(secs/60)
						var seconds = secs % 60
						return minutes + ":" + seconds
					},
					async untilAvailable(){
						// Table Wait
						setTimeout(() => {
							return this.Evict(false)
						}, this.duration * 1000);
					},
					Evict(clicked=true){
						// Evict the table
						var table = JSON.parse(localStorage.getItem(this.$vnode.key))
						var message = table.message;
						localStorage[this.$vnode.key] = JSON.stringify({
							available: true,
							capacity: '',
							people: '',
							duration: '',
							message: '',
						})
						if (clicked){
							alert(message)
						}
						return localStorage[this.$vnode.key]
					},
				},
				mounted() {
					// watch table avaliability
					this.tableData = localStorage[this.$vnode.key]
					window.addEventListener("storage", this.onStorageUpdate);
				 },
				 beforeDestroy() {
				    window.removeEventListener("storage", this.onStorageUpdate);
					},
				watch: {
					tableData(newTable){
						// change status of the table
						var table = JSON.parse(localStorage.getItem(this.$vnode.key))
						this.available = table.available
						this.people = table.capacity
						this.duration = table.people
						this.message = table.message
					},
				},
				created() {
					// inititate data for this table
					localStorage[this.$vnode.key] = JSON.stringify({
						available: this.available,
						capacity: this.capacity,
						people: this.people,
						duration: this.duration,
						message: this.message,
					})
					this.tableData = localStorage[this.$vnode.key]
				},
			});
			Vue.component('x-resturant', {
			  template: '#xr',
				name: "resturant",
			  props: ['tables'],
				data(){
					return{
					}
				},
				methods: {
					async reserveTable(people, duration, message){
						var table = this.awaitTable(people, index)
					},
					awaitTable(size, index){
						for (var i = 0; i < this.tables.length; i++) {
							var tableName = this.tables[i].name
							var table = JSON.parse(localStorage.getItem(tableName))
							if (table.available) {
								if (size <= table.capacity) {
										return tableName
								}
							}
						}
					},
				},
			});
			const app = new Vue({
				el: '#app',
				data: {
					tables: [
						{name: 'table1', capacity: 10},
						{name: 'table2', capacity: 8},
						{name: 'table3', capacity: 10},
						{name: 'table4', capacity: 6},
						{name: 'table5', capacity: 2},
						{name: 'table6', capacity: 6},
						{name: 'table7', capacity: 4},
						{name: 'table8', capacity: 12},
					],
					party: {
						people: '',
						duration: '',
						message: '',
					},
				},
				methods: {
					submitForm(){
						this.$refs.resturant.reserveTable(
																							this.party.people,
																							this.party.duration,
																							this.party.message)
						this.party.people = ''
						this.party.duration = ''
						this.party.message = ''
					},
				},
				delimiters: ['{{', '}}'],
			});
		</script>
	</body>
</html>
