<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="main.css">
		<style>
			* {
				font-family: 'Roboto';
			}
			#app{
				display: grid;
			}
			.restaurant{
				border: 2px solid red;
				display: inline-block;
				text-align: center;
			}
			.table{
				padding: 5px;
				margin: 5px;
				border: 2px solid blue;
				width: 20%;
				min-height: 70px;
				display: inline-block;
			}
			.field{
				height: 30px;
				border: 1px solid gray;
				width: 700px;
			}
		</style>
		<title>
			Restaurant Manager
		</title>
	</head>
	<body>
		<h1>Restaurant Manager</h1>
		<div id="app">
			<h2>Table Overview</h2>
			<x-resturant :tables="tables" name="resturant"></x-resturant>
			<br>
			<h3>New Party</h3>
			<p>Fill the following form to allocate a table to a party that is waiting to be seated.</p>
			<form method="POST">
				<p>
					<input class="field" type="number" name="people" v-model="party.people" placeholder="Number of People (non-zero positive integer)" min="1" required>
				</p>
				<p>
					<input class="field" type="number" name="duration" v-model="party.duration" placeholder="Duration of stay in seconds (positive number)" min="1" required>
				</p>
				<p>
					<input class="field" type="text" name="message" v-model="party.message" placeholder="Fuss message if evicted (text)" required>
				</p>
				<p>
					<button type="button" name="button" @click.prevent="NewParty">Add</button>
				</p>
			</form>
		</div>

		<template id="xr">
			<div class="restaurant">
				<div v-for="table in tables">
					<x-table :capacity="table.capacity" class="table" :key="table.key"></x-table>
				</div>
			</div>
		</template>

		<template id="xt">
			<div v-if="!available">
				Occupied by {{ people }}
				<br>
				(free in {{ TimeOut(duration) }})
				<br>
				<!-- <button type="button" name="button" @click="Evict(table)">Evict</button> -->
			</div>
			<div v-else>
				Table Available
				<br>
				(capacity = {{ table.capacity }})
			</div>
		</template>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			Vue.component('x-table', {
				template: '#xt',
				props: ['table'],
				data() {
					return {
						available: true,
						capacity: '',
						people: '',
						duration: '',
						message: '',
					}
				},
				methods: {
					TimeOut(secs){
						var minutes = Math.floor(secs/60)
						var seconds = secs % 60
						return minutes + ":" + seconds
					},
					async untilAvailable(table){
						// Table Wait
						setTimeout(() => {
							return this.Evict(table, false)
						}, table.duration * 1000);
					},
					Evict(clicked=true){
						// Evict the table
						var message = localStorage[this.$vnode.key].message;
						localStorage[this.$vnode.key].available = true
						localStorage[this.$vnode.key].people = ''
						localStorage[this.$vnode.key].duration = ''
						localStorage[this.$vnode.key].message = ''
						if (clicked){
							alert(message)
						}
						return localStorage[vm.$options.name]
					},
				},
				created() {
					localStorage[this.$vnode.key] = {
						available: true,
						people: '',
						duration: '',
						message: '',
					}
				},
			});
			Vue.component('x-resturant', {
			  template: '#xr',
			  props: ['tables'],
				methods: {
					awaitTable(table){
						// Table Wait
						setTimeout(() => {
							return this.Evict(table, false)
						}, table.duration * 1000);
					},
				},
			});
			const app = new Vue({
				el: '#app',
				data: {
					tables: [
						{key: 'table1', capacity: 10},
						{key: 'table2', capacity: 8},
						{key: 'table3', capacity: 10},
						{key: 'table4', capacity: 6},
						{key: 'table5', capacity: 2},
						{key: 'table6', capacity: 6},
						{key: 'table7', capacity: 4},
						{key: 'table8', capacity: 12},
					],
					party: {
						people: '',
						duration: '',
						message: '',
					},
				},
				methods: {
					NewParty() {
						// get date from form
						selection = 7
						for (var i = 0; i < this.tables.length; i++){
							if (this.tables[i].available){
								if (this.party.people <= this.tables[i].capacity && this.tables[i].capacity < this.tables[selection].capacity){
									selection = i
								}
							}
	          }
						if (this.party.people <= this.tables[selection].capacity && this.tables[selection].available) {
							// assign selected table
							this.tables[selection].available = false
							this.tables[selection].people = this.party.people
							this.tables[selection].duration = this.party.duration
							this.tables[selection].message = this.party.message
							this.party.people = ''
							this.party.duration = ''
							this.party.message = ''
						}	else{
							alert("Can't find a table!!")
						}
					},
				},
				created() {
					// Refresh evenry 1 sec
			    setInterval(() => {
						for (var i = 0; i < this.tables.length; i++) {
							if (1 < this.tables[i].duration) {
								this.tables[i].duration--
							} else{
								this.tables[i].available = true
								this.tables[i].people = ''
								this.tables[i].duration = ''
								this.tables[i].message = ''
							}
						}
					}, 1000)
				},
				delimiters: ['{{', '}}'],
			});
		</script>
	</body>
</html>
